@import url(https://fonts.googleapis.com/css?family=Calibri:400,300,700);

body{
    background-color: #F5F7FA;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0px;
}
nav
{
    background-color:  #2F334F !important;
    color: #9c2f2f;
    display: flex !important;
    justify-content: space-between !important;
    box-sizing: border-box;
    /* height: 5rem; */
}

.navbar-toggler{
    outline: none;
}

nav a
{
    margin-right: 2rem !important;
    font: Bold 1.5rem/1.8125rem Segoe UI;
    /* letter-spacing: 0.06125rem; */
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    /* border: 2px solid; */
    outline: none;
}

nav a:hover{
    color: #FFFFFF; 
}

/* #navbarSupportedContent
{
    margin-left: 25rem;
} */

.logo
{
   width: 9em;
   height: 6em;
}
.container
{
    display:flex;
    order:3;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
    align-content: space-around;
}

.card
{
    margin-top: 2rem;
}

.btn btn-primary
{
    width: 9rem !important;
    border-radius: 2.3rem !important;
}

#sponsors
{
    margin-top: 2rem;
    /* width: fit-content; */
    /* margin-left: 40%; */
    letter-spacing: 0.06125rem;
    text-underline-position: below #F15F7D;
    text-align: center;
}

/* .footer
{
    width: 100%;
    height: 15rem;
    background-color: #EAEBF3;
    margin-top: 3rem;

} */

button:focus{
    outline: none;
}

.sponsor-btn{
    height: 2.5rem;
    width: 8rem;
    border: none;
    border-radius: 25px;
    background: #F15F7D;
    color: white
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("./assets/hamburger.svg");
  }

  /* header {
    position: relative;
    background-color: black;
    overflow: hidden;
    height: 48rem;
    margin-top: -8rem;
    width: 33%;
  } */
/*   
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
  
.rightside
{
    border: 2px solid;
    width: 67%;
    margin-left: 31.5rem;
    height: 51rem;
} */

.maindiv
{
   display: flex;
   flex-wrap: nowrap;
   border: 6px solid black; 
   height: 100vh; 
   width: 100vw;
}

.right
{
   border: 3px solid blue;
   height: 100%;
   width: 50%;
   display: flex;
   flex-wrap: wrap;
   box-sizing: border-box;
   background-color:  #2F334F !important;
  
}
.left
{
  border: 2px solid red;     
    height: 100%;
    width: 50%;
    display: flex;
}

.content2{
  display: flex;
  flex-wrap: nowrap;
  border: 2px solid;
  width: 100%;
}

.content2>img{
  width: 20%;
  height: 90%;
  margin: 3.33%;
}

video{
  height: 100%;
  width: 50%;
}
.boxes{
  display: flex;
  flex-wrap: nowrap;
  height: 100em; 
  width: 100em;

}
.about > h1
{
  margin-top: 2rem;
  letter-spacing: 0.06125rem;
  text-decoration: underline #F15F7D;
  text-align: center;
}

.leftimage
{
  height: 100%;
  width: 50%;
}

.righttext
{
  height: 100%;
  width: 50%;
  display: flex;
}
.contactus
{
  width: 100%;
}
.contactus > h1
{
  margin-top: 2rem;
  letter-spacing: 0.06125rem;
  text-decoration: underline #F15F7D;
  text-align: center;
  color: white;
  font-weight: 600;
}

.contactform
{
  width: 50%;
  margin-left: 24%;
  margin-top: 2rem;
  padding: 3rem;

}

.social-buttons {
  margin-top: 4rem;
  text-align: center;
  font-family: 'Calibri', sans-serif !important;
  width: 40%;
}

.footer {
  background-color: #EAEBF3;
  padding: 2rem;
  margin-top: 4rem;
}

.footer>h1 {
  text-transform: uppercase;

}

.neo-button {
  width: 3.375rem;
  height: 3.375rem;
  cursor: pointer;
  border: none;
  outline: none;
  /* background-color: #d9d9d9; */
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
  background: #EAEBF3 0% 0% no-repeat padding-box;
  box-shadow: -5px -5px 15px #FFFFFFCB;
  border-radius: 15px;
  opacity: 1;
}

.neo-button:hover {
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
}

.neo-button .fa {
  color: #eee
}

.vl {
  margin-top: -10rem;
  border-left: 6px solid #F15F7D;
  height: 11rem;
  margin-left: 50%;
}

#footerdata {
  margin-left: 45%;
  margin-top: 2rem;
}

@media (max-width: 1026px){
  nav a{
      font-size: 1rem;
  }
}
